p#pogrubienie_szczechowski {
    font-size: 37px;
    color: #8753CB
}

p#pochylona_szczechowski {
    font-size: 42px;
    color: #EBB767;
}

p#index_gorny_szczechowski {
    font-size: 1.7cm;
    color: #9BE920;
}

p#index_dolny_szczechowski {
    font-size: 2.9cm;
    color: rgb(21%, 95%, 87%);
}

p#mono_szczechowski {
    font-size: 37px;
    color: #1BDF67;
}

p#powiekszenie_szczechowski {
    color: #553F99;
}

p#pomniejszenie_szczechowski {
    color: #B9A335;
}